# PHP Configuration
PHP_VERSION=8.5

# Apache Configuration
APACHE_PORT=9001

# Database Configuration
DB_HOST=mysql
DB_NAME=db_gerbtuve
DB_USER=root
DB_PASSWORD=root
DB_PORT=3306

# WordPress Configuration
WP_VERSION=7.1
WP_SITEURL=http://localhost:${APACHE_PORT}

# WSL Configuration
WSL_USER=root
WSL_USER_ID=1000